@model OutcoldSolutions.Web.Blog.Models.LogOnModel

@{
	Layout = "~/Views/Shared/_Site.cshtml";
	ViewBag.Title = "Login";
}

<h2>Log On</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.") 
    
    <div>
        <fieldset>
            <legend>Account Information</legend>
                
            <div>
                @Html.LabelFor(m => m.UserName) 
            </div>
            <div>
                @Html.TextBoxFor(m => m.UserName) 
                @Html.ValidationMessageFor(m => m.UserName) 
            </div>
                
            <div>
                @Html.LabelFor(m => m.Password) 
            </div>
            <div>
                @Html.PasswordFor(m => m.Password) 
                @Html.ValidationMessageFor(m => m.Password) 
            </div>
                
            <div>
                @Html.CheckBoxFor(m => m.RememberMe) 
                @Html.LabelFor(m => m.RememberMe) 
            </div>
                
            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}



