@model System.Collections.Generic.IEnumerable<PersonalWeb.Model.Repositories.BlogPostModel>
@using PersonalWeb.Model
@{
	Layout = "~/Views/Shared/_Site.cshtml";
	ViewBag.Title = "outcoldman: " + Html.GetResource("Blog") + (ViewData["tag"] == null ? string.Empty : string.Format(" - {0}", ((Tag)ViewData["tag"]).Name));
}



	@if (ViewData["tag"] != null)
  {
    <h3 style="text-align:center">@Html.GetResource("SelectedTag"): @(((Tag)ViewData["tag"]).Name) </h3>
  
  }

	<div style="float:right;">
		@if (Html.GetAction().ToLower() == "tag") {
			@Html.CreateTagsPager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"]) 
	  } else { 
			@Html.CreatePager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"])  
	  }
	</div>

	@{int i = 0;}

    @foreach (var item in Model) { 
    
		if (i++ == 5) {
			@Html.Partial("Advertising") 
	  }
	  
		<div class="postwrapper">
			 @Html.Partial("ShowBlogItem", item) 
		</div>
    	<br />
     } 

	<div style="float:right;">
	@if (Html.GetAction().ToLower() == "tag") {
		@Html.CreateTagsPager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"]) 
	 } else {
	 @Html.CreatePager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"])  
 }
	</div>

	<div style="float:left;">
		 @Html.Partial("FeedBurner") 
	</div>

	<br class="clear" />




