@using OutcoldSolutions.Web.Blog.Core.Util
@using OutcoldSolutions.Web.Blog.Helpers
@using OutcoldSolutions.Web.Blog.Resources
@{
	ViewBag.Title = Html.GetResource("CodeHighlighterTitle");
}

<section>

<h1>@Html.GetResource("CodeHighlighterTitle")</h1>

<p>@Html.GetResource("CodeHighlighterInfo")</p>

<br />

<fieldset class="footerForm" >
	<div id="notification" class="notification"><h4></h4></div>
	<p>@Html.GetResource("SourceCodeType")</p>
	<p>@Html.DropDownList("codetype", (List<SelectListItem>)ViewBag.SupportedFormats)</p>
	<p>@Html.GetResource("SourceCode")</p>
	<p><textarea id="inputcode" cols="4" rows="10" ></textarea></p>
	<p>@Html.GetResource("FormattedCodeHtml")</p>
	<p><textarea id="result" cols="4" rows="10" ></textarea></p>
	<p>@Html.GetResource("FormattedCodeExample")</p>
	<p id="resultExample"></p>
	<input  type="button" class="footerSubmit" id="tryButton" value="@Html.GetResource("Execute")" />
	<div class="footerBusy" id="busyIndicator" >
	<img alt="busy"  src="@NavigationHelper.GetSiteUrl("/Resources/images/busy.gif") " />&nbsp;
	</div>
</fieldset>
 
 @Html.Partial("Advertising") 

 
 <script type="text/javascript">
 	var CouldntExecuteMessage = '@Html.Encode(Html.GetResource("CouldntExecute")):';
 	var CodeHighlighterCallbackUrl = '@NavigationHelper.GetSiteUrl(string.Format("/{0}/tools/CodeHighlighter/", Html.GetLanguage()))';
</script>
<script type="text/javascript" src="@NavigationHelper.GetSiteUrl("/resources/scripts/CodeHighlighter.js")"></script>

</section>