@model System.Collections.Generic.List<OutcoldSolutions.Web.Blog.Models.LiveJournalFriendPost>
@using OutcoldSolutions.Web.Blog.Models
@{
	Layout = "";
	Response.AddHeader("Content-Type", "application/xml"); 
}
<rss version="2.0">
    <channel>
        <title>outcoldman</title>
        <description>Denis Gladkikh Livejournal Friends</description>
        <link>http://outcoldman.livejournal.com/friends</link>
		<lastBuildDate>@DateTime.Now.ToString("R") </lastBuildDate> 
        @foreach (LiveJournalFriendPost item in ViewData.Model)
		  {
        <item>
			<pubDate>@item.Date.ToString("R") </pubDate>
            <title>@item.Title</title>
			<link>@item.Link </link>
            <description>@item.Body
			</description>
        </item>
          } 
    </channel>
</rss>
