@model System.Collections.Generic.IEnumerable<PersonalWeb.Model.Repositories.BlogPostModel>
@using PersonalWeb.Model.Repositories
@{
	ViewBag.Title = "outcoldman: " + Html.GetResource("HomePage");
}

<div class="contantleft">
	@foreach (var item in Model) { 
	<div class="postwrapper">

@Html.Partial("ShowBlogItem", item)

	</div>
    } 
	
	<div style="padding-top:50px; font-style:italic;">
		@Html.Raw(string.Format(Html.GetResource("FindMore"), Html.ActionLink(Html.GetResource("Blog"), "index", "blog")))
	</div>

	<div style="float:right;">
		@Html.Partial("FeedBurner") 
	</div>
</div>

<div class="sideBar">
@if (ConfigurationUtil.GetSettings("ShowAdvertising", false))
{
	<div style="text-align:center;">
		<a href="http://www.microsoft.com/ru-ru/events/devcon/">
			<img src="http://outcoldman.ru/resources/advertising/devcon.gif" width="240" height="400" alt="Microsoft DevCon Conference" title="Microsoft DevCon Conference">
		</a>
	</div>

	<br/>
}
	<h3>Tag Cloud</h3>
	
	<ul class="tags">
		@{ foreach (GetTopTagsResult tag in (List<GetTopTagsResult>)ViewData["toptags"]) {
			<li>@Html.ActionLink(tag.Name, "tag", "blog", new {id = tag.TagID}, new {@class = "tag" + tag.TagType, rel = "tag"}) </li>
			}}
	</ul>

	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
		new TWTR.Widget({
			version: 2,
			type: 'profile',
			rpp: 5,
			interval: 6000,
			width: 240,
			height: 300,
			theme: {
				shell: {
					background: '#919191',
					color: '#ffffff'
				},
				tweets: {
					background: '#ebe8d9',
					color: '#5a5a5a',
					links: '#650000'
				}
			},
			features: {
				scrollbar: false,
				loop: false,
				live: false,
				hashtags: true,
				timestamp: true,
				avatars: false,
				behavior: 'all'
			}
		}).render().setUser('outcoldman').start();
	</script>

	<script type="text/javascript" src="http://www.google.ru/reader/ui/publisher-en.js"></script>
	<script type="text/javascript" src="http://www.google.ru/reader/public/javascript/user/04120000459178368630/state/com.google/broadcast?n=5&amp;callback=GRC_p(%7Bc%3A%22gray%22%2Ct%3A%22My%20Read%20Feed%22%2Cs%3A%22true%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
    
</div>
<br class="clear" />
@Html.Partial("Advertising") 