@model PersonalWeb.Controllers.FeedModel
@using OutcoldSolutions.Web.Blog.Models
@using PersonalWeb.Core.Util
@using PersonalWeb.Model
@using PersonalWeb.Web.Resources
@{
	Layout = "";
	Response.AddHeader("Content-Type", "application/xml"); 
}
<rss version="2.0">
    <channel>
        <title>outcoldman</title>
        <description>Denis Gladkikh Personal Web</description>
        <link>http://outcoldman.ru</link>
		<lastBuildDate>@DateTime.Now.ToString("R") </lastBuildDate> 
        @foreach (BlogPost item in ViewData.Model.Items)
         {
        <item>
			<pubDate>@item.Date.ToString("R") </pubDate>
            <title>@item.Title</title>
			<link>@NavigationHelper.GetUrlWithHost(Url.Action("show", "blog", new RouteValueDictionary() { { "lang", Model.Language }, { "id", item.PostID } }))</link>
            <description>@(Model.IsExternal ? (item.HtmlAbstraction + string.Format("<p><a href=\"{0}\">{1}</a></p>", NavigationHelper.GetUrlWithHost(Url.Action("show", "blog", new RouteValueDictionary() { { "lang", Model.Language }, { "id", item.PostID } })), Html.GetResource("ReadMoreRss"))) : item.HtmlText)
			</description>
			<comments>@NavigationHelper.GetUrlWithHost(Url.Action("show", "blog", new RouteValueDictionary() { { "lang", Model.Language }, { "id", item.PostID + "#addcomment" } }))</comments> 
            @foreach (Tag tag in item.Tags)
               { 
                <category>@tag.Name </category>
             } 
        </item>
          } 
    </channel>
</rss>
