@model IEnumerable<OutcoldSolutions.Web.Blog.Models.Repositories.BlogPostModel>
@using OutcoldSolutions.Web.Blog.Helpers
@using OutcoldSolutions.Web.Blog.Models
@using OutcoldSolutions.Web.Blog.Resources
@{
	Layout = "~/Views/Shared/_Site.cshtml";
	ViewBag.Title = "outcoldman: " + Html.GetResource("Blog") + (ViewData["tag"] == null ? string.Empty : string.Format(" - {0}", ((Tag)ViewData["tag"]).Name));
}


@if (ViewData["tag"] != null)
{
    <hgroup>
        <h3>&rarr; @(((Tag)ViewData["tag"]).Name)</h3>
    </hgroup>
}

<div class="float-right clear-fix">
	@if (Html.GetAction().ToLower() == "tag")
	{
		@Html.CreateTagsPager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"])
	}
	else
	{
		@Html.CreatePager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"])
	}
</div>

<div class="clear-fix-b">
@foreach (var item in Model)
{
    @Html.Partial("ShowBlogItem", item) 
}
</div>

<div class="float-right">
@if (Html.GetAction().ToLower() == "tag")
{
	@Html.CreateTagsPager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"])
}
else
{
	@Html.CreatePager((int)ViewData["selectedPage"], (int)ViewData["pagesCount"])
}
</div>

<div class="float-left" >
		@Html.Partial("FeedBurner") 
</div>




