@model IEnumerable<BlogPostModel>
@using Microsoft.Web.Helpers
@using OutcoldSolutions.Web.Blog.Models.Repositories
@using OutcoldSolutions.Web.Blog.Resources
@{
	ViewBag.Title = "outcoldman: " + Html.GetResource("HomePage");
}

<section class="leftSection">
    
    <div class="clear-fix">
        @foreach (var item in Model) { 
            @Html.Partial("ShowBlogItem", item)
        } 
    </div>
	
    <div class="float-left">
        @Html.Raw(string.Format(Html.GetResource("FindMore"), Html.ActionLink(Html.GetResource("Blog"), "index", "blog")))
    </div>

    <div class="float-right">
        @Html.Partial("FeedBurner") 
    </div>

</section>

<aside>

	<ul class="tags">
		@foreach (GetTopTagsResult tag in (List<GetTopTagsResult>)ViewData["toptags"])
		{
		    <li>@Html.ActionLink(tag.Name, "tag", "blog", new { id = tag.TagID }, new { @class = "tag" + tag.TagType, rel = "tag" }) </li>
		}
	</ul>
    
    <div class="default-vertical-padding">
        @Twitter.Profile(
            "outcoldman", 
            width: 240, 
            backgroundShellColor: "#919191", 
            shellColor: "#ffffff", 
            tweetsBackgroundColor: "#ebe8d9", 
            tweetsColor: "#5a5a5a", 
            tweetsLinksColor: "#650000", 
            behavior: "all")
    </div>

</aside>