@using OutcoldSolutions.Web.Blog.Resources
@{
	ViewBag.Title = Html.GetResource("Contacts");
}

<div class="post">
	<div class="contantleft">

		<h1>@Html.GetResource("Contacts") </h1>
		
		<ul class="contacttext" >
			<li> @Html.GetResource("EmailAddress"): <a href="mailto:outcoldman@gmail.com">outcoldman@outlook.com</a> </li>
			<li> @Html.GetResource("WorkEmailAddress") <a href="mailto:deglad@microsoft.com">deglad@microsoft.com</a> </li>
		    <li> @Html.GetResource("Location"): <a href="http://www.bing.com/maps/?q=Redmond, WA, USA">Redmond, WA, USA</a> </li>
		</ul>
        
	    <h2>@Html.GetResource("OtherContacts")</h2>

		<ul class="contacttext">
			<li>
				<a href="http://twitter.com/outcoldman" rel="nofollow">
					<img src="../../Content/images/icons/twitter.gif" alt="Twitter" />
				</a> <a href="http://twitter.com/outcoldman" rel="nofollow">outcoldman</a>
			</li>
			<li>
				<a href="http://www.facebook.com/outcoldman" rel="nofollow">
					<img src="../../Content/images/icons/Facebook.gif" alt="Facebook" />
				</a> <a href="http://www.facebook.com/outcoldman" rel="nofollow">outcoldman</a> 
			</li>
			<li>
				<a href="http://outcoldman.livejournal.com" rel="nofollow">
					<img src="../../Content/images/icons/livejournal.gif" alt="LiveJournal" />
				</a> <a href="http://outcoldman.livejournal.com" rel="nofollow">outcoldman</a>
			</li>
			<li>
				<a href="http://ru.linkedin.com/in/outcoldman" rel="nofollow">
					<img src="../../Content/images/icons/linkedin.ico" alt="LinkedIn" />
				</a> <a href="http://ru.linkedin.com/in/outcoldman" rel="nofollow">outcoldman</a> 
			</li>
			<li>
				<a href="http://outcoldman.habrahabr.ru/" rel="nofollow">
					<img src="../../Content/images/icons/habrahabr.gif" alt="Habrahabr" />
				</a> <a href="http://outcoldman.habrahabr.ru/" rel="nofollow">outcoldman</a> 
			</li>
			<li>
				<a href="http://vkontakte.ru/outcoldman" rel="nofollow">
					<img src="../../Content/images/icons/vkontakte.gif" alt="В контакте" />
				</a> <a href="http://vkontakte.ru/outcoldman" rel="nofollow">outcoldman</a>
			</li>
			<li>
				<a href="callto://outcoldman">
					<img src="../../Content/images/icons/skype.png" alt="Skype" />
				</a> <a href="callto://outcoldman">outcoldman</a> 
			</li>
		</ul>

	</div>

	<div class="sideBar">

		
	</div>
</div>



