@model PersonalWeb.Model.Repositories.BlogPostModel

<article>

	<hgroup>
		<h3 ><time datetime="@Model.BlogPost.Date.ToString("o")" pubdate="pubdate">@Model.BlogPost.Date.ToString("dd.MM.yyyy HH:mm") UTC</time></h3>
		<h1>@Html.ActionLink(Model.BlogPost.Title, "show", "blog", new { id = Model.BlogPost.PostID }, null)</h1>
	</hgroup>
	
	<div class="post">
    	@Html.Raw(Model.BlogPost.HtmlAbstraction)
	</div>
	<div>
	@if (!Model.BlogPost.IsJustAbstraction)
	{

	@Html.ActionLink(Html.GetResource("ReadMore"), "show", "blog", new { id = Model.BlogPost.PostID }, null)

	 }  
	</div>
	<br class="clear" />
	<div style="float:left;">
            <a href='@Url.Action("show", "blog", new RouteValueDictionary() {{"id", Model.BlogPost.PostID } })#addcomment' >
                @string.Format("{0} ( {1} )", Html.GetResource("LeaveAcomment"), Model.CommentsCount) 
            </a>  
	</div>
	<div style="float:right;">
	@Html.RenderTags(Model.BlogPost.Tags.ToList())
	</div>
</article>

