@using OutcoldSolutions.Web.Blog.Helpers
@using OutcoldSolutions.Web.Blog.Resources
<!DOCTYPE html >
<html lang="@Html.GetLanguage()">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	<link rel="shortcut icon" href="~/favicon.ico" />
	<meta name="google-site-verification" content="j5544u2ZNn-At1ttQbboTFxYdMtOymNVHavF8e6D-Rs" />
    <meta name='yandex-verification' content='78712c982e7b6576' />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
    <meta name="viewport" content="width=device-width" />
	<meta name="revisit-after" content="2 days" />
	<meta name="robots" content="ALL" />
	<meta name="author" content="Powered: outcoldman (Denis Gladkikh), Design conception: VectorArt(http://vectorart.org)" />
	<meta name="description" content="@(this.ViewData["description"] ?? "Denis Gladkikh (outcoldman) Personal Web Site")" />
	<meta name="keywords" content="@(ViewData["keywords"] ?? ".NET, WPF, Silverlight, C#, ASP.NET, MVC, XAML, outcoldman, Denis Gladkikh")" />
	<link rel="openid.server" href="http://www.myopenid.com/server"/>
	<link rel="openid.delegate" href="http://outcoldman.myopenid.com/"/>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/Outcoldman@(Html.IsRussian() ? "" : "_en")" /> 
	@RenderSection("Head", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper default-padding">
            
            <div class="float-right">
                <section class="langbar clear-fix">
                    @if (Html.IsRussian())
                    {
                        <a href="@Url.Action("index", "blog", new { lang = "en" })">In English</a>
                    }
                    else
                    {
                        <a href="@Url.Action("index", "blog", new { lang = "ru" })">In Russian</a>
                    }
                </section>
                
                <div class="subscription">
                    @Html.Partial("SubscriptionButtons")
                </div>
            </div>
            
            <div class="float-left">
                
                <hgroup class="site-title float-left clear-fix">
                    <h2>
                        @Html.ActionLink("Denis Gladkikh", "index", "blog")
                    </h2>
                    <h1>
                        @Html.ActionLink("outcoldman", "index", "blog")
                    </h1>
                </hgroup>


                <nav class='mainMenu clear-fix-b'>
                    @{
                        var selectedMenuItemAttributes = new { @class = "active" };
                    }
                    <ul>
                        <li>@this.Html.ActionLink(this.Html.GetResource("Blog"), "index", "blog", new { lang = this.Html.GetLanguage() }, this.Html.IsController("blog") ? selectedMenuItemAttributes : null)</li>
                        <li>@this.Html.ActionLink(this.Html.GetResource("AboutMe"), "aboutme", "site", new { lang = this.Html.GetLanguage() }, this.Html.IsAction("aboutme", "site") ? selectedMenuItemAttributes : null)</li>
                    </ul>
                </nav>

            </div>
            
        </div>
    </header>
    
    <div id="body">
        <div class="content-wrapper clear-fix default-padding text-content default-vertical-padding">
            @RenderBody()
        </div>
    </div>

	<footer>
	    <div class="content-wrapper default-padding">
	        <div class="float-left">
	            @Html.GetResource("ContentOfSite")
	        </div>
	        <div class="float-right">
	            Denis Gladkikh (outcoldman) &copy; @DateTime.Now.Year
	        </div>
	    </div>
	</footer>

@RenderSection("BottomContent", required: false)
</body>
</html>


